body {
    margin: 0;
    padding: 0;
    background-color: #004d00; 
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden; 
    height: 100vh;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%; 
    transition: transform 0.5s ease;
}

.page.active {
    transform: translateX(0);
    left: 0; 
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 3rem;
    margin: 0;
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
}

h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: normal;
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
    animation-delay: 1.5s;
}

.buttons {
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
    animation-delay: 3s;
}

.button-link {
    background-color: white;
    color: #005500;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #00b300;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

input, button {
    background-color: #005500;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    max-width: 300px;
    text-align: center;
}

button {
    background-color: white;
    color: #005500;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00b300;
    color: white;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005500;
    border: none;
    color: white;
    padding: 8px 12px;
    margin: 10px 0;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: auto;
    max-width: 300px;
}

.social-button img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    object-fit: contain;
}

.social-button:hover {
    background-color: #00b300;
}

a {
    text-decoration: underline;
    color: white;
    margin-top: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.spacer {
    margin-top: 50px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}